appdirs==1.4.4
contextlib2==0.6.0.post1
distlib==0.3.1
filelock==3.0.12
gpg==1.15.0
greenlet==0.4.17
msgpack==1.0.0
neovim==0.3.1
protobuf==3.14.0
pynvim==0.4.2
schema==0.7.2
six==1.15.0
virtualenv==20.2.1
